{% extends 'aettings/main.html' %}

{% load static %}


<!--  -->


{% block links %}

<link rel="stylesheet" href="{% static 'main/style.css' %}">


{% endblock %}

<!--  -->

{% block content %}


<div class="cls">
    <img class="imgs" src="{% static 'main/img/banner.png' %}" alt="">
</div>


<!--  -->
<h1 class="comm">Які послуги ми надаємо в розробці сайтів ↓</h1>
<div class="mainer">

<div class="work1">

    <div class="w1">
        <h2 class="text">
            Frontend
        </h2 class="text">
    </div>

    <div class="w1">
        <h2 class="text">
            Backend
        </h2>
    </div>

</div>




<div class="work2">

    <div class="w2">
        <h2 class="text">
            UI - design
        </h2>
    </div>

    <div class="w2">
        <h2 class="text">
            UX - design
        </h2>
    </div>

   

</div>

<div class="img">
    <img class="img1"  src="{% static 'main/img/programmer.png' %}" alt="prg" width="1000px">
    
 </div>

</div>


<div class="descrs">
    <div class="descr">
        <h2>Також якцо вам треба зробити щось одне з перерахованого ми теж можемо допомогти</h2>
    </div>
</div>

<!--  -->
<h1 class="commentaries">Коментарі наших замовників</h1>


<div class="comments">
    <div class="comment">
        
    </div>

    <div class="comment">

    </div>

    <div class="comment">

    </div>
</div>


<h1 class="commentaries">Наша комманда</h1>

<div class="m">

    <div class="video">
        <iframe width="700" height="500" src="https://www.youtube.com/embed/XZmGGAbHqa0?si=-7fzR2E5Dif4Jk8t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>



{% endblock %}